@for(variation of usersService.usersVariations; track variation) {
<button (click)="usersService.changeCurrentUsersVariation(variation)">
  {{ variation }}
</button>
}
{{ usersService.currentUsersVariation }}

@if(usersService.currentUsersVariation === "local"){
<div>
  @for(user of usersService.users; track user.name){
  <app-user-card [user]="user"></app-user-card>
  }
</div>
} @if(usersService.currentUsersVariation === "api") { @for(user of usersService.apiUsers; track user.id){
<div class="user">
  <h4>{{ user.name }}</h4>
  <h5>{{ user.username }}</h5>
  <p>{{ user.email }}</p>
  <p>{{ user.address.city }}</p>
  <p>{{ user.company.name }}</p>
  <p>{{ user.phone }}</p>
</div>
} }
